materialize.min.css
#cities{
    float:left;
}
#interests{
    float:left;
}

.interestTitle {
    text-align: center;
}

.container {
    align-items: center;
    width: 90%;
}

#details {
    background-color: rgb(55, 173, 241);
    height: 50px;
    
}