materialize.min.css
#cities{
    float:left;
}
#interests{
    float:left;
}

.interestTitle {
    text-align: center;
}

.container {
    align-items: center;
    width: 90%;
}

#results {
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
