materialize.min.css
#cities{
    float:left;
}
#interests{
    float:left;
}

.interestTitle {
    text-align: center;
}

.container {
    align-items: center;
    width: 90%;
}
<<<<<<< HEAD
<<<<<<< HEAD

#details {
    background-color: rgb(55, 173, 241);
    height: 50px;
    
}
=======
>>>>>>> cba799f9e9569e45d75de641536f36addc9ba713
=======
>>>>>>> master
